.container {
  display: flex;
  flex-direction: column;
  gap: var(--s-4-5);
}

.intro {
  max-width: var(--max-readable-width);
}

.project {
  display: grid;
  gap: var(--s-2-4);

  @media (min-width: 768px) {
    grid-template-columns: 1fr 96px 1.5fr;
    grid-template-rows: var(--s-2-4) 1fr;
  }

  .image {
    border: 1px solid var(--c-background);
    border-radius: var(--s-1-4);
    overflow: hidden;
    aspect-ratio: 16/9;
    position: relative;

    @media (min-width: 768px) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    img {
      object-fit: cover;
      object-position: center top;
    }
  }

  .card {
    @media (min-width: 768px) {
      grid-column: 2 / 4;
      grid-row: 2 / 2;
      z-index: 10;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: var(--s-1);

  .type {
    text-transform: uppercase;
    color: var(--c-accent);
  }
}
