.intro {
  display: flex;
  gap: var(--s-4-5);
  flex-direction: column;
  align-items: stretch;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .imageContainer {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: var(--s-2-4);

    @media (min-width: 768px) {
      min-width: 300px;
    }

    .links {
      display: flex;
      gap: var(--s-2-4);
      justify-content: center;
    }
  }

  .image {
    border: 1px solid var(--c-background);
    border-radius: var(--s-1-4);
    overflow: hidden;
    aspect-ratio: 16/9;
    position: relative;

    @media (min-width: 768px) {
      height: 500px;
      aspect-ratio: unset;
    }

    img {
      object-fit: cover;
      object-position: center top;
    }
  }

  .text {
    max-width: var(--max-readable-width);
    display: grid;
    gap: var(--s-2-4);

    @media (min-width: 768px) {
      min-width: 50%;
    }
  }
}

.skills {
  display: flex;
  flex-direction: row;
  gap: var(--s-1-2);
  flex-wrap: wrap;

  .skill {
    font-weight: var(--fw-semi-bold);
    border: 1px solid var(--c-background);
    border-radius: var(--s-1-2);
    padding: var(--s-1-2) var(--s-2-4);
  }
}
