.inner {
  max-width: 1376px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--s-2-4);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.svg-container {
  display: flex;
}

section {
  background: linear-gradient(0deg, var(--c-background) 0%, rgba(242, 242, 242, 0) var(--s-4-5));
  padding: var(--s-4-5) 0;
}

a {
  width: fit-content;
}
