.inner-wrapper {
  max-width: 1376px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--s-2-4);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.svg-container {
  display: flex;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--s-2-4);

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .image {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;

    @media (min-width: 768px) {
      order: 2;
    }
  }

  h1 {
    margin: var(--s-1-2) 0;
  }
}

.section {
  background: linear-gradient(0deg, var(--c-background) 0%, rgba(242, 242, 242, 0) var(--s-4-5));
  padding: var(--s-4-5) 0;

  &.hero-section {
    padding: 0 0 var(--s-4-5) 0;

    @media (min-width: 768px) {
      padding: var(--s-4-5) 0;
    }
  }

  &.solid-background {
    background-color: var(--c-background);
  }

  .section-title {
    padding: 0 0 var(--s-4-5) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

a {
  width: fit-content;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--s-4-5);

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  background: var(--c-white);
  box-shadow: 0px 4px var(--s-1-2) rgba(0, 0, 0, 0.25);
  border-radius: var(--s-1-4);
  padding: var(--s-2-5);
  display: flex;
  flex-direction: column;
  gap: var(--s-2-4);

  p {
    flex-grow: 1;
  }
}

.icon-link {
  display: flex;
  gap: var(--s-1);
  align-items: center;
  color: var(--c-accent);
  font-weight: var(--fw-bold);
  justify-content: flex-end;
  transition: all 0.2s ease;

  &:hover {
    color: var(--c-nearly-black);
  }
}

.readable-content {
  max-width: 750px;
}

.markdown {
  display: grid;
  gap: var(--s-2-4);

  h2 {
    font-size: var(--fs-h3);
  }

  h3 {
    font-size: var(--fs-h4);
  }

  h4 {
    font-weight: var(--fw-regular);
  }
}

footer {
  background-color: var(--c-background);
  padding: var(--s-4-5) 0;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--s-1-2) 0;

  .logo {
    display: flex;
    align-items: center;

    svg {
      height: 50px;

      @media (min-width: 768px) {
        height: 70px;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--s-2-4);
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }

    a {
      font-size: var(--fs-nav);
      font-weight: var(--fw-bold);
      display: grid;
      transition: all 0.2s ease;

      &:hover {
        color: var(--c-accent);
      }

      .text {
        padding: var(--s-1-2);
      }

      .underline {
        height: 4px;
        width: 100%;
        border-radius: 2px;
      }

      &.active {
        color: var(--c-accent);

        .underline {
          background-color: var(--c-accent);
        }
      }
    }
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: var(--s-2-4);

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .about-content {
    display: grid;
    gap: var(--s-2-4);
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: var(--s-4-5);

  .skill-title {
    display: flex;
    gap: var(--s-1-2);
    align-items: center;

    .svg-container {
      height: 74px;
    }
  }
}

.svg-container {
  display: flex;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
  }
}
