@import '@fontsource/inter';
@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/poppins';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.15;
}

html {
  font-size: 62.5%;
  color: var(--color-nearly-black);
}

body {
  font-family: 'inter', sans-serif;
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
}

h1,
.h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

h2,
.h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

h3,
.h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

h4,
.h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-semi-bold);
}

.subtitle {
  font-size: var(--fs-h3);
  font-weight: var(--fw-light);
  color: var(--c-accent);
  line-height: 1.25;
}

.accent-text {
  color: var(--c-accent);
}
