:root {
  /* spacing */
  --s-0: 0.4rem;
  --s-1: 0.8rem;
  --s-2: 1.6rem;
  --s-3: 2.4rem;
  --s-4: 3.2rem;
  --s-5: 6.4rem;
  --s-6: 12.8rem;

  /* responsive spacing */
  /* based on viewport fom min 375px to max 1200px */
  /* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport */
  --s-1-2: clamp(var(--s-1), 0.4364rem + 0.9697vw, var(--s-2));
  --s-1-4: clamp(var(--s-1), -0.2909rem + 2.9091vw, var(--s-4));
  --s-2-4: clamp(var(--s-2), 0.8727rem + 1.9394vw, var(--s-4));
  --s-2-5: clamp(var(--s-2), -0.5818rem + 5.8182vw, var(--s-5));
  --s-4-5: clamp(var(--s-4), 1.7455rem + 3.8788vw, var(--s-5));

  /* colors */
  --c-black: #000;
  --c-nearly-black: #333;
  --c-white: #fff;
  --c-background: #f2f2f2;
  --c-accent: #d70000;

  /* font size */
  --fs-h1: clamp(4.8rem, 2.6182rem + 5.8182vw, 9.6rem);
  --fs-h2: clamp(3.2rem, 2.4727rem + 1.9394vw, 4.8rem);
  --fs-h3: clamp(2.4rem, 1.8545rem + 1.4545vw, 3.6rem);
  --fs-h4: clamp(2rem, 1.5455rem + 1.2121vw, 3rem);
  --fs-body: clamp(1.6rem, 1.4182rem + 0.4848vw, 2rem);
  --fs-nav: clamp(1.6rem, 1.5091rem + 0.2424vw, 1.8rem);
  --fs-small: clamp(1.4rem, 1.3091rem + 0.2424vw, 1.6rem);
  --fs-caption: clamp(1.2rem, 1.1091rem + 0.2424vw, 1.4rem);

  /* font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* misc */
  --max-readable-width: 750px;
}
