.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--s-1-2) 0;
  z-index: 200;
  position: relative;

  .logo {
    display: flex;
    align-items: center;

    svg {
      height: 50px;

      @media (min-width: 768px) {
        height: 70px;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--s-2-4);

    a {
      font-size: var(--fs-nav);
      font-weight: var(--fw-bold);
      transition: var(--transition);
      display: none;

      @media (min-width: 768px) {
        display: grid;
      }

      &:hover {
        color: var(--c-accent);
      }

      .text {
        padding: var(--s-1-2);
      }

      .underline {
        height: 4px;
        width: 100%;
        border-radius: 2px;
      }

      &.active {
        color: var(--c-accent);

        .underline {
          background-color: var(--c-accent);
        }
      }
    }

    button {
      display: flex;
      margin: 0;
      border: 0;
      padding: 0;
      background: none;
      color: var(--c-nearly-black);

      &.menu {
        font-size: var(--fs-h4);

        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }
}
