.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--s-1-2) 0;

  .logo {
    display: flex;
    align-items: center;

    svg {
      height: 50px;

      @media (min-width: 768px) {
        height: 70px;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--s-2-4);
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }

    a {
      font-size: var(--fs-nav);
      font-weight: var(--fw-bold);
      display: grid;
      transition: var(--transition);

      &:hover {
        color: var(--c-accent);
      }

      .text {
        padding: var(--s-1-2);
      }

      .underline {
        height: 4px;
        width: 100%;
        border-radius: 2px;
      }

      &.active {
        color: var(--c-accent);

        .underline {
          background-color: var(--c-accent);
        }
      }
    }
  }
}
