.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: var(--s-2-4);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--s-4-5);
}

.aboutContent {
  display: grid;
  gap: var(--s-2-4);
  max-width: 750px;
}
