.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: var(--s-2-4);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--s-4-5);
}

.content {
  display: grid;
  gap: var(--s-4-5);
  max-width: 750px;

  .section {
    display: grid;
    gap: var(--s-4);
  }
}

.moreSkills {
  display: flex;
  flex-direction: row;
  gap: var(--s-1-2);
  flex-wrap: wrap;

  .skill {
    font-weight: var(--fw-semi-bold);
    border: 1px solid var(--c-background);
    border-radius: var(--s-1-2);
    padding: var(--s-1-2) var(--s-2-4);
  }
}
