.iconLink {
  display: flex;
  gap: var(--s-1);
  align-items: center;
  color: var(--c-accent);
  font-weight: var(--fw-bold);
  justify-content: flex-end;
  transition: var(--transition);

  &:hover {
    color: var(--c-nearly-black);
  }
}
